body {
    background-color: var(--primary-color);
    font-family: 'Raleway';
}
/*Main Header*/
.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px 16px 73px;
}
.main-header .left-part,.right-part{
    display: flex;
    align-items: center;
}
.main-header .right-part{
    margin-left: 2vw;
}
.main-header .left-part h3{
    font-size: 35px;
    font-weight: 900;
    color: var(--text-color);
    line-height: 41px;
    margin-left: -20px;
    margin-top: -6px;
}
.main-header .right-part .navigation-menu {
    display: flex;
    column-gap: 2.5vw;
    position: relative;
}
.main-header .right-part .navigation-menu a{
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 1.275px;
    padding: 8px;
    color: var(--text-color);
}
.main-header .right-part .navigation-menu li{
    position: relative;
}
.main-header .right-part .navigation-menu li:before{
    content: '';
    width: 100%;
    height: 5px;
    background-color: var(--green-color);
    position: absolute;
    bottom: -10px;
}
.main-header .right-part .navigation-btn{
    white-space: nowrap;
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 1.275px;
    color: var(--primary-color);
    background-color: var(--green-color);
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 2.7vw;
    text-transform: uppercase;
}
/*Main Header*/
/*Landing Page*/
main .landing-page{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 66px 163px 30px 176px;
    margin-bottom: 100px;
}
.landing-page .title-box{
    width: 38vw;
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
    left: 50px;
}
.landing-page .title-box h1{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 3.8vw;
    line-height: 5vw;
    text-transform: capitalize;
    color: var(--text-color);
    margin-bottom: 23px;
    margin-top: 20px;
}
.landing-page .title-box p{
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 26px;
    color: var(--text-color);
    margin-bottom: 35px;
}
.landing-page .title-box .title-btn{
    display: inherit;
    flex-direction: unset;
}
.landing-page .title-box .btn{
    width: 200px;
    height: 65px;
    background: var(--primary-color);
    color: var(--green-color);
    border: 3px solid #4BA87D;
    text-transform: uppercase;
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 21px;
    line-height: 25px;
    margin-right: 45px;
    cursor: pointer;
}
.landing-page .title-box .active{
    background-color: var(--green-color);
    color: var(--primary-color);
}
.landing-page .landing-page-banner{
    position: relative;
    right: 50px;
}
.landing-page .landing-page-banner img{
    width: clamp(600px, 47vw, 47vw);
    box-shadow: 0 3px 6px rgba(0,0,0,0.19);
}
/*Landing Page*/
/*Video Learn*/
.video-learn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 50px 0;
}
.video-learn img{
    width: 72vw;
}
.video-learn h2{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 4.3vw;
    line-height: 80px;
    text-transform: capitalize;
    color: var(--primary-color);
    position: absolute;
    top: 13.5vw;
}
.video-learn button{
    width: 15vw;
    height: 5vw;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 1.7vw;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1.05px;
    text-transform: uppercase;
    border: 0;
    color: var(--green-color);
    background-color: var(--primary-color);
    cursor: pointer;
    position: absolute;
    top: 24vw;
}
/*Video Learn*/
/*Source Learn*/
.source-learn{
    background-color: #CAEAC7;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    padding-top: 50px;
    padding-bottom: 100px;
}
.source-learn .source-items-container{
    margin: 0 1.5%;
}
.source-learn .source-items-container .source-item{
    width: 22vw;
    background-color: var(--primary-color);
    padding-bottom: 20px;
}
.source-items-container .source-item img{
    width: 100%;
}
.source-items-container .source-item p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--text-color);
    padding: 24px 39px 10px 30px;
}
.source-items-container .source-item a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    cursor: pointer;
    color: var(--green-color);
    padding-left: 30px;
}
.source-learn .position-item-1{
    position: relative;
    top: 60px;
}
.source-items-container .source-item h2{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: var(--text-color);
    margin-bottom: 24px;
}
.source-learn .position-item-2 p{
    padding: 0;
}
.source-learn .position-item-2 .source-item{
    background-color: transparent;
}
.source-learn .position-item-2{
    position: relative;
    top: 100px;
}
/*Source Learn*/